<head>
    <link rel="stylesheet" href="/css/questions.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<div class="singleQuestion">
    <h1>no more questions to answer!</h1>
    <img src=" https://media.giphy.com/media/3o72FcJmLzIdYJdmDe/giphy.gif" width="500"
        style="clip-path: circle(120px at center)">
    <h2>you did a great job judging.</h2>
    <p>(check back for more later!)</p>

</div>