* {
  font-family: "Nunito", sans-serif;
}

#head {
  position: relative;
  font-size: 40px;
  text-align: center;
  color: black;
}

#head:hover {
  animation: wiggle 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

img {
  clip-path: square(100px at center);
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
h1 {
  font: "Nunito Black 900";
  font-size: 30px;
  text-align: center;
}

h2 {
  font-size: 20px;
  text-align: center;
  color: #4bc4a1;
}

h3,
p {
  font-size: 15px;
  text-align: center;
  color: black;
}

.button {
  font-size: 20px;
  background-color: #4bc4a1;
  color: #e9eca3;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 40px;
}
a {
  text-decoration: none;
  color: #4bc4a1;
}

a:visited {
  color: none;
}

.center {
  align-items: center;
}

.icon {
  position: fixed;
}

.loginreg {
  font-size: 20px;
  background-color: white;
  border-radius: 30px;
  text-align: right;
  display: inline-block;
  right: 1%;
  padding: 1%;
  z-index: 1;
  position: absolute;
}

body {
  background-image: url("../images/book_background.png"),
    linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
  background-repeat: repeat;
  background-size: auto;
  align-items: center;
  position: relative;
  text-align: -webkit-center;
}

.message-box {
  text-align: center;
}

.field {
  margin: 10px;
}

.submit-btn {
  width: 100%;
}

.title {
  margin: 10px 0px 20px 10px;
}

.container {
  align-items: center;
  text-align: center;
  position: relative;
  text-align: -webkit-center;
}

#error-message {
  color: #e91e63;
  display: block;
  margin: 10px;
  font-size: large;
  max-width: fit-content;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.deleteProfile {
  font-size: xx-small;
  color: #888;
  text-decoration: underline;
  border-radius: 20px;
}

.shoutout {
  /*Chrome,Safari*/
  -webkit-clip-path: polygon(
    455px 148px,
    479px 91px,
    443px 119px,
    423px 26px,
    377px 122px,
    343px 49px,
    321px 122px,
    213px 64px,
    269px 147px,
    130px 143px,
    281px 212px,
    202px 245px,
    307px 243px,
    235px 332px,
    409px 258px,
    520px 357px,
    529px 262px,
    668px 284px,
    589px 206px,
    650px 185px,
    520px 162px,
    602px 57px,
    452px 148px
  );

  /*Firefox*/
  clip-path: url("#clipPolygon");
}
