.singleQuestion {
  background-color: white;
  border-radius: 20px;
  padding: 50px;
  margin: 15px;
  text-align: center;
  align-items: center;
  width: 70%;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.manyQuestions {
  grid-template-columns: 1fr;
  margin: 15px;
  display: grid;
  align-items: center;
}

.singleAnswer {
  background-color: #e9eca3;
  border-radius: 20px;
  border-style: none;
  padding: 15px;
  margin: 10px;
  white-space: nowrap;
  width: 100%;
  max-inline-size: -webkit-fill-available;
  font-size: x-large;
  justify-self: center;
}

.manyAnswers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  max-width: fit-content;
  padding: 5px;
}

label {
  font-size: 10px;
}

.game {
  text-align: -webkit-center;
}

.hidden {
  display: none;
}
